body {
  font-family: 'Arial, sans-serif';
  background-color: #fafafa;
  margin: 0;
  padding: 0;
}
.header {
  background-color: #fff;
  border-bottom: 1px solid #dbdbdb;
  padding: 15px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #262626;
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header p{
  font-size: 100%;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-left: 50%;
  margin-top:20px
}

.search-bar input {
  padding: 15px;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  margin-right: 10px;
  width: 80%;
}

.search-bar button {
  padding: 10px;
  border: none;
  background-color: #3897f0;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar button:hover {
  background-color: #2878c6;
}

.user-icon {
  font-size: 24px;
  color: #262626;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.card {
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 12px;
  padding: 20px;
  margin: 10px 0;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

.card h2 {
  margin-top: 0;
  color: #262626;
}

.card p {
  margin: 5px 0;
  color: #4b4b4b;
}

button {
  background-color: #3897f0;
  border: none;
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #2878c6;
}
